.form_wrapper {
    display: flex;
    width: 250px;
    flex-direction: column;
}

.inputs {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.inputs > label {
    margin-bottom: 5px;
    font-size: 13px;
}

.inputs:last-child {
    margin-top: 10px;
}

.message {
    animation: appear ease-in-out .2s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}